
nav {
  padding-top: 20px;
}

.logo{
  width: 20%;
  background-color: black;
}
.card-container{
  padding: 20px 0;

}
.card-element-container{
  border: solid 1px black;
  border-radius: 5px;

  padding: 10px;

}
.picture_container,
.bottom_btn,
.picture_display_container{
  text-align: center;
}
.picture_container{
  height: 20vw;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.picture_display_container{
  height: 30vw;
  width: 100%;
  margin-top: 30px;
  border: solid 1px dimgray;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: dimgray;
}
.resultImage
{
  width: 100%;
  height: auto;
}
.titleNameBlock
{
  height:80px;
  overflow: hidden;
}
.title-form{
padding: 20px 60px;
}
.title-input{
margin-top: 60px;
width: 200px;
}
.weather_head{
  color: dimgray;
}
.temperature{
  padding-left: 30px;
}
